

/* AJUSTE Ppal1 */


.ppal1{

   margin: $margen3; 
   border: $borde1; 
   border-top-right-radius: $rightTopRadius1;
   background: linear-gradient(289deg, rgba(170, 173, 120, 0.4)20%, rgba(102, 148, 36, 0.4)40%); 
}


