.tamañoImagenesTabla {
	width: $ancho1;
}

.txtTableHead {
    font-size: $tamañoLetra3;
}

.txtTableData {
    font-size: $tamañoLetra2;
}

.tablaCaption {
	font-size: 3.5rem;
	font-weight: $pesoTipografia1;
}