.costado {

    border: solid black 2px;
    border-top-right-radius: 8px;
    height: 180px;
    margin-right: 20px;
    padding: 2px 2px 2px 2px;


}



section div video {

    border-style: solid;
    border-width: 2px;
    border-top-right-radius: 8px;
    max-height: 180px;
    padding: 1px 1px 1px 1px;
}