/* AJUSTES ORDENA AQUÍ */

.fondoCamposOrdena{
    background-color: rgba(207, 183, 168, 0.4);
}

textarea::placeholder{
    font-size: 1.5rem;
    color: rgba(193, 2, 221, 1.0);
}

.textAreaOrdena{
    margin: 0 auto;
    width: 400px;
    background-color: rgba(207, 183, 168, 0.4);
}