
.costado{

    border: solid black 2px;
    border-top-right-radius: 8px;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    padding: 2px 2px 2px 2px;


}

 section div video {

    border-style: solid;
    border-width: 2px;
    border-top-right-radius: 8px;
    height: 140px;
    margin-left: 5x;
    margin-right: 20px;
    padding: 1px 1px 1px 1px;
}
