/* ANIMACIONES */



@keyframes textoIncrPaulatinoAlpha{

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes textoIncrPaulatinoSize{

    from {
        font-size: 0.8rem;
    }

    to {
        font-size: 3.5rem;
    }
}