/* MODIFICACION CUERPO */

.fondoBody {

    background-image: url(../imagenes/WebP/fondopasteleriatransppx5.webp);
    background-color: map-get($map:$gammaColor,$key:"colorSeis");
    max-height: 100%;
    max-width: 95%;
    margin-left: 20px;
    margin-right: 10px;
}
