/* VARIABLES */


/* COLORES */

$primerColor:rgba(150, 100, 150, 0.5);
$segundoColor:rgba(129, 107, 50, 0.3);
$tercerColor:rgba(129, 107, 70, 1.0);
$cuartoColor:rgba(170, 173, 120, 0.4);
$quintoColor:rgba(102, 148, 36, 0.4);
$sextoColor: rgba(189, 193, 196, 0.5);
$septimoColor:rgba(207, 183, 168, 0.4);
$octavoColor:rgba(217,97,37,1.0);
$novenoColor:rgba(17,128,128,1.0);
$decimoColor:rgba(133, 0, 0, 1.0);
$undecimoColor:rgba(13, 145, 56, 1.0);
$duodecimoColor:rgba(6, 110, 21, 1.0);
$decimoTercerColor:rgba(74, 94, 210, 1.0);
$decimoCuartoColor:  aliceblue;

/* TIPOGRAFIA Y ESTILOS */

$tipografiaPrimaria: "Patric Hand", cursive;
$tipografiaSecundaria: "Roboto";
$estiloTipografico1: italic;
$estiloTipografico2: oblique;

/* TAMAÑO TIPOGRAFIA */

$tamañoTitulo6: 3rem;
$tamañoTitulo5: 3.5rem;
$tamañoTitulo4: 4rem;
$tamañoTitulo3: 4.5rem;
$tamañoTitulo2: 5rem;
$tamañoTitulo1: 5.5rem;

/* PESO TIPOGRAFICO */

$pesoTipografia1: 600;
$pesoTipografia2: 800;

/* TAMAÑO DE LETRA EN PARRAFOS Y OTROS */

$tamañoXpequeño:1.1rem;
$tamañopequeño:1.4rem;
$tamañoLetra1:1.5rem;
$tamañoLetra2:2rem;
$tamañoLetra3:3rem;

/* ALINEAR CENTRO TEXTO-IMAGENES */

$alinearCentro: center;

/* ESPACIO ENTRE LINEAS */

$entreLinea1: 1rem;
$entreLinea2: 2rem;
$entreLinea3: 1.5rem;

/* ANCHO DE PARRAFOS */

$anchoParrafo: 95%;

/* MARGENES Y PADDING */

$margen1: 2px 4px 2px 4px;
$margen2: 30px auto;
$margen3: 20px auto;
$margen4:10px;
$margen5:20px;
$margen6: 5px 5px 5px 5px;
$margen7: 0 auto;
$margenTop1:10px;
$margenTop2:100px;
$margenBottom:10px;
$relleno1: 2px 2px 2px 2px;
$relleno2: 5px;
$relleno3: 5px 5px 5px 5px;

/* TAMAÑO ELEMENTOS */

$tamañoFavicom: 27px;
$tamañoDropDown: 140px;

/* BORDE IMAGENES-VIDEO-CUERPOS*/

$borde1: solid 2px black;
$rightTopRadius1: 12px;
$rightTopRadius2: 16px;

/* PROPORCIONES IMAGENES - VIDEOS */

$ancho1: 150px;
$alto1: 150px;
$alto2: 140px;

/* MAP */

$gammaColor:(
	"colorUno":$primerColor,
	"colorDos":$segundoColor,
	"colorTres":$tercerColor,
	"colorCuatro":$cuartoColor,
	"coloCinco":$quintoColor,
	"colorSeis":$sextoColor,
	"colorSiete":$septimoColor,
	"coloOcho":$octavoColor,
	"coloNueve":$novenoColor,
	"coloDiez":$decimoColor,
	"coloeOnce":$undecimoColor,
	"colorDoce":$duodecimoColor,
	"coloTrece":$decimoTercerColor,
	"colorCatorce":$decimoCuartoColor,
	);



/* SOMBRA TEXTO */

$sombraTexto1: 1px 1px 2px blueviolet;
$sombraTexto2: 2px 2px 4px #7890C7;
$sombraTexto3: 2px 2px 4px #A73939;



